@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
    background-color: #34353A;
}

header {
    box-sizing: border-box;
    border-radius: 25px;
    margin: 0;
    background-color: #24252A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

header li, a, button{
    font-family: "Montserrat", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header .logo {
    box-sizing: border-box;
    cursor: pointer;
    max-height: 60px;
    border: 5px solid #14151A;
    border-radius: 30%;
}

header .nav__links {
    list-style: none;
}

header .nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

header .nav__links li a {
    transition: all 0.3s ease 0s;
}

header .nav__links li a:hover {
    color: #0088a9;
}

header button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 161, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header button:hover {
    background-color: rgba(138, 59, 158, 0.8);
}

.poeme {
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    background-color: #0d122c;
    justify-content: space-between;
    align-items: left;
    padding: 15px 5%;
    width: 95%;
    max-width: 850px;
}


.poemes .poeme:not(:last-child) {
    margin-bottom: 5%;
}

.poemes titre {
    color: rgb(255, 250, 236);
    display: block;
    font-family: "Pacifico", "cursive";
    font-weight: 500;
    font-size: 40px;
    text-decoration: underline #ccc;
}

.poemes numero {
    color: rgb(255, 250, 236);
    display: block;
    margin-bottom: 40px;
    font-family: "Source Code Pro", "sans-serif";
    font-weight: 500;
    font-size: 20px;
}

.poemes contenu {
    color: rgb(255, 250, 236);
    display: block;
    font-family: "Merriweather", "sans-serif";
    font-weight: 500;
    font-size: 15px;
}